@media(width>1440px) {
    body {
        overflow: hidden;

        cursor: url("./assets/Vector\ 31.svg") 1 1, auto;

    }

    .cont {
        width: 1120px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 32px;
    }

    .box1 {
        width: 544px;
        height: 324px;
    }

    .box2 {
        width: 544px;
        height: 247px;
    }

    .box3,
    .box4 {
        width: 256px;
        height: 247px;
    }

    .box5 {
        width: 256px;
        height: 603px;
    }

    .diagramtab {
        display: none;
    }

    .diagramdes {
        display: inline;
    }

    h3 {
        width: 192px;
    }

    .box6 {
        width: 544px;
        height: 246px;
        margin: 0;
    }

    .box7 {
        width: 256px;
        height: 246px;
        margin: 0;
        order: -1;
        text-align: center;
        gap: 32px;

    }

    .box8 {
        width: 256px;
        height: 415px;

    }

    .box9 {
        width: 256px;
        height: 434px;
    }

    .box7 {
        flex-direction: column;
    }

    .footp1 {
        width: 192px;
        height: 144px;
    }

    footer {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        grid-area: 1/1/3/2;
        margin: 0;
    }

    header {
        width: auto;
        height: auto;
        margin: 0;
    }

    .box5 {
        margin: 0;
    }

    section {
        height: auto;
        width: auto;
        flex-direction: row;
        gap: 32px;
        grid-area: 2/2/3/6;

    }

    .insta1 {

        display: none;
    }

    .social {
        gap: 0;
        margin-left: 75px;


    }

    .sheduletab {
        margin-left: -90px;
        overflow: hidden;
    }

    h2 {
        font-size: 34px;
        line-height: 28px;
    }

    .instagram {
        margin-bottom: -40px;
    }

    .diagramdes {
        margin-top: 32px;
        margin-left: 31px;
    }

    h3 {
        text-align: left;
    }

    .diagramlittle {
        margin: 0;
    }

    .active {
        pointer-events: all;
    }

    button:hover {
        opacity: 65%;
        cursor: pointer;
    }

    button:active {
        background-color: green;
    }

    button:active .pbtn {
        color: white;
    }

    button:active .btnimg {
        display: none;
    }

}